version: 2.1
jobs:
  build:
    docker:
      - image: smokserwis/build
    steps:
      - run:
          command: |
            pwd
            ls
            python setup.py install
            python setup.py test
          name: Install and test
